.card {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 240px;
  margin: 20px;
  overflow: hidden;
  width: 400px;
}

.card-body {
  flex: 1;
}

.card-header {
  height: 100px;
  padding: 15px;
}